@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Korataki";
  src: url("fonts/Korataki/korataki.woff2");
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}
.header {
  display: flex;
  margin-top: 30px;
}

.logo {
  width: 217px;
  height: 57px;
  display: flex;
  gap: 10px;
  margin-right: 300px;
}

nav {
  width: 479px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  display: none;
  color: white;
}

.header_a {
  color: black;
  width: 115px;
  font-size: 16px;
}

.search {
  width: 170px;
  height: 49px;

  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(255, 255, 255, 1);
  border-radius: 88px;
  margin-right: 10px;
}

input {
  width: 135px;
  margin-left: 5px;
  border: none;
  text-align: center;
}

.img_search {
  width: 21px;
  height: 21px;
  cursor: pointer;
}

#header_bag {
  width: 139px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: black;
  border-radius: 88px;
  cursor: pointer;
}

/* каталог */

.product {
  margin-top: 100px;
}

.product_title {
  font-family: "Korataki";
  font-size: 44px;
  margin-bottom: 75px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.catalog_link {
  max-width: 320px;
  display: flex;

  flex-direction: column;
}

.catalog_link:hover {
  .detailed {
    display: block;
  }
}

.catalog_link h2 {
  margin-top: 20px;
  font-family: "Lato", serif;
  font-weight: 700;
  font-size: 18px;
}

.catalogPrice {
  margin-top: 25px;
  display: flex;
  font-size: 22px;
  font-weight: 700;
  gap: 25px;
}

.red {
  color: red;
}

.black {
  color: black;
}

.catalog_oldPrice {
  text-decoration: line-through;
  color: rgb(179, 177, 177);
}

.stock {
  width: 126px;
  height: 38px;
  display: none;
  align-content: center;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  font-size: 20px;
  background-color: black;
  color: #fff;
  border-radius: 88px;
}

.detailed {
  display: none;
  width: 258px;
  height: 48px;
  position: absolute;
  color: white;
  background-color: rgba(228, 83, 2, 1);
  border-radius: 88px;
  border: none;
  text-align: center;
  font-size: 16px;
  line-height: 23px;
  margin-top: 400px;
  margin-left: 30px;
}

/* ПОДВАЛ */

footer {
  max-width: 1900px;
  min-height: 320px;
  background-color: black;
}

.footer_two {
  display: none;
}

.footer_content {
  margin-top: 100px;
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
}

.footer-content {
  margin-top: 50px;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

section {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer_logo {
  width: 318px;
  font-size: 16px;
  color: gray;
  line-height: 21px;
}
.footer_logo-img {
  width: 63px;
  height: 63px;
}

.footer-end {
  text-align: right;
}
.footer_end {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}
.footer_end p {
  color: #747272;
}

.footer_end span {
  margin-left: 15px;
  max-width: 500px;
}

.footer_img-end {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.footer_img-end img {
  height: 16px;
}

.footer_cont {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.link-a {
  text-decoration: none;
}

footer a {
  color: #fff;
}

/* под размеры */

@media (max-width: 1370px) {
  .catalog_link {
    width: 400px;
  }
  .container {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 1310px) {
  .catalog_link {
    width: 380px;
  }
}

@media (max-width: 1250px) {
  .catalog_link {
    width: 360px;
  }
}

@media (max-width: 1190px) {
  .catalog_link {
    width: 340px;
  }
}
@media (max-width: 1147px) {
  footer {
    display: none;
  }
  .footer_two {
    display: block;
  }
}

@media (max-width: 1130px) {
  .catalog_link {
    width: 320px;
  }
}

@media (max-width: 1094px) {
  .logo {
    margin-right: 200px;
  }
}

@media (max-width: 1070px) {
  .catalog_link {
    width: 300px;
  }
}

@media (max-width: 1010px) {
  .catalog_link {
    width: 420px;
  }

  .logo {
    margin-right: 150px;
  }
}

@media (max-width: 958px) {
  nav {
    display: none;
  }

  #header_bag {
    display: none;
  }

  .header {
    justify-content: space-between;
  }
}

@media (max-width: 925px) {
  .catalog_link {
    width: 380px;
  }
}

@media (max-width: 845px) {
  .catalog_link {
    width: 360px;
  }
}

@media (max-width: 805px) {
  .catalog_link {
    width: 320px;
  }
  .catalog {
    gap: 50px;
  }
}

@media (max-width: 750px) {
  .catalog_link {
    width: 300px;
  }
}

@media (max-width: 710px) {
  .catalog_link {
    width: 280px;
  }
}

@media (max-width: 670px) {
  .catalog_link {
    max-width: 260px;
  }
  footer {
    flex-direction: column;
  }
}

@media (max-width: 630px) {
  .catalog_link {
    max-width: 240px;
  }
}

@media (max-width: 590px) {
  .catalog_link {
    max-width: 220px;
  }
}

@media (max-width: 560px) {
  .catalog_link {
    max-width: 200px;
  }
}

@media (max-width: 530px) {
  .catalog_link {
    max-width: 180px;
  }
}

@media (max-width: 500px) {
  .catalog_link {
    max-width: 155px;
  }
}

@media (max-width: 460px) {
  .catalog {
    gap: 20px;
  }
}

@media (max-width: 530px) {
  .search {
    display: none;
  }

  .footer_two {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer-content {
    flex-direction: column;
    gap: 20px;
  }
  .footer_end {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 440px) {
  .catalog {
    gap: 10px;
  }
  .product_title {
    font-size: 38px;
  }

  .catalog_price {
    font-size: 12px;
  }

  .catalog_oldPrice {
    font-size: 12px;
  }
}
